<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog - B.Bee</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <!-- Header Section -->
    {% include './header.html' %}

    <!-- Blog Section -->
    <main>
        <section id="blog">
            <h2 class="section-title">Blog</h2>
            <div id="blog-posts-container" class="post-grid"></div>
        </section>

        <!-- Pagination Controls -->
        <div id="pagination-controls" class="pagination-controls"></div>
    </main>

    <!-- Footer Section -->
    {% include './footer.html' %}

    <!-- Include JavaScript Files -->
    <script src="/assets/js/pagination-blog.js" defer></script>
</body>
</html>