<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B.Bee</title>
    <link rel="stylesheet" href="/assets/css/header-footer-style.css">
    <link rel="stylesheet" href="/assets/css/index-style.css">
</head>
<body>
    {% include './header.html' %}

    <main>
        <!-- Intro Section -->
        <section class="intro section">
            <div class="container">
                <div class="text">
                    <h1 class="section-title">일상과 일 사이</h1>
                    <p class="section-description">고양이, 케이크, 그리고 게임 개발</p>
                    <div class="button-group">
                        <button class="my-works" onclick="scrollToWorks()">My Works ↓</button>
                        <button class="about-me" onclick="window.location.href='/about/'">About Me →</button>
                    </div>
                </div>
                <div class="image">
                    <img src="/assets/image/intro-image.jpg" alt="Intro">
                </div>
            </div>
        </section>

        <!-- Latest Works Section -->
        <section class="latest-works section" id="latest-works">
            <div class="container">
                <div class="section-header">
                    <div class="text">
                        <h2 class="section-title">Recent Project</h2>
                        <p class="section-description">프로젝트, 열정, 그리고 배움</p>
                    </div>
                    <div class="button">
                        <a href="/project/" class="view-more">View More</a>
                    </div>
                </div>
                <div id="latest-work-posts-container" class="post-grid"></div>
            </div>
        </section>

        <!-- Recent Posts Section -->
        <section class="recent-posts section">
            <div class="container">
                <div class="section-header">
                    <div class="text">
                        <h2 class="section-title">Recent Post</h2>
                        <p class="section-description">일상, 생각, 그리고 디저트</p>
                    </div>
                    <div class="button">
                        <a href="/blog/" class="view-more">View More</a>
                    </div>
                </div>
                <div id="recent-posts-container" class="post-grid"></div>
            </div>
        </section>
    </main>

    {% include './footer.html' %}

    <!-- JavaScript for Scroll -->
    <script>
        function scrollToWorks() {
            const worksSection = document.querySelector('#latest-works');
            if (worksSection) {
                worksSection.scrollIntoView({ behavior: 'smooth' });
            }
        }
    </script>
    <script src="/assets/js/pagination-project.js" defer></script>
    <script src="/assets/js/pagination-blog.js" defer></script>
    <script src="/assets/js/set-current.js" defer></script>
</body>
</html>