<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B.Bee | {{ project_title }}</title>
    <link rel="stylesheet" href="/assets/css/header-footer-style.css">
    <link rel="stylesheet" href="/assets/css/project-style.css">
</head>

<body>
    {% include './header.html' %}

    <main>
        <section class="project-list section">
            <div class="container">
                <h1 class="section-title">{{ project_title }}</h1>
                <p class="section-description">{{ project_description }}</p>
                <div id="project-posts-container" class="post-grid"></div>
                <div id="pagination-controls" class="pagination-controls"></div>
            </div>
        </section>
    </main>

    {% include './footer.html' %}
    <script src="/assets/js/pagination-project.js" defer></script>
</body>

</html>