/* Post Grid */
.post-grid {
    margin: 100px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

/* Blog-List Section */
.blog-list .container {
    max-width: 1200px;
    margin: 0 auto 100px;
}

.blog-list .text {
    text-align: left;
    max-width: 50%;
}

.blog-list .view-more {
    background-color: #343434;
    color: #FFDE59;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.blog-list .view-more:hover {
    background-color: #FFDE59;
    color: #343434;
}

/* Blog Post Card */
.blog-post-card {
    position: relative;
    height: 500px;
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.blog-post-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.blog-post-card .card-text {
    position: absolute;
    background-color: #FFF4C5;
    bottom: 0;
    width: 100%;
    height: 200px;
    color: #343434;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.blog-post-card h3 {
    margin: 0 0 10px 0;
    font-size: 1.5rem;
    color: #343434;
}

.blog-post-card p {
    margin: 0;
    font-size: 1rem;
    color: #343434;
}

/* Pagination Controls */
.pagination-controls {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.pagination-controls button {
    background-color: #FFDE59;
    color: #343434;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.pagination-controls button:hover {
    transform: scale(1.1);
}

.pagination-controls button:disabled {
    opacity: 0;
    pointer-events: none;
}