/* Section Header */
.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.section-header .text {
    text-align: left;
    max-width: 60%;
}

.section-header .button {
    text-align: right;
}

.section-header .view-more {
    background-color: #FFDE59;
    color: #343434;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.section-header .view-more:hover {
    color: #FFFFFF;
}

/* Intro Section */
.intro .container {
    max-width: 1000px;
    margin: 0 auto 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.intro .text {
    flex: 1 45%;
    text-align: center;
}

.intro .image {
    flex: 1 45%;
    text-align: center;
    width: 450px;
    height: 600px;
    overflow: hidden;
}

/* Buttons */
button-group {
    display: flex;
    justify-content: center;
    gap: 40px;
}

button {
    background-color: #FFDE59;
    color: #343434;
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    font-family: 'CookieRun-Regular', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #343434;
    color: #FFDE59;
    transform: scale(1.05);
}

/* Post Card */
.post-card {
    position: relative;
    height: 560px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.post-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.post-card:hover img {
    transform: scale(1.1);
}

.post-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 240, 200, 0.6), rgba(255, 240, 200, 0.2));
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.post-card:hover::before {
    opacity: 1;
}

.post-card .card-text {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #343434;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.3s ease;
    box-sizing: border-box;
}

.post-card:hover .card-text {
    opacity: 1;
}

/* Recent Posts Section */
.recent-posts .container {
    max-width: 1200px;
    margin: 0 auto 100px;
}

.recent-posts .text {
    text-align: left;
    max-width: 50%;
}

.recent-posts .view-more {
    background-color: #343434;
    color: #FFDE59;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.recent-posts .view-more:hover {
    background-color: #FFDE59;
    color: #343434;
}