/* Block Elements */
blockquote, .codehilite pre {
    margin: 20px 0;
    padding: 10px;
    background: #222;
    text-align: left;
    border-left: 5px solid #FFDE59;
}

/* Inline Code (code) Styling */
code {
    font-family: "Courier New", monospace;
    color: #FFDE59;
    padding: 2px 4px;
    font-size: 0.9rem;
    line-height: 1.4;
}

/* General Styling */
body {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.8;
    color: #FFDE59; /* Yellow Text */
}

/* Post Container */
.post-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Image Section */
.post-image-section {
    position: relative;
    height: 30vh;
    overflow: hidden;
}

.post-image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-overlay {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: #FFF4C5;
    background: linear-gradient(to bottom, transparent, #222);
    padding: 10px 20px;
    font-size: 2rem;
}

/* Metadata */
.post-metadata {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: #B4B4B4;
    font-size: 0.9rem;
}

/* Tag Styling */
.post-metadata .post-tags {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px 5px 0;
    background-color: #FFDE59;
    color: #222;
    border-radius: 12px;
    font-size: 0.9rem;
    font-weight: bold;
}

/* Date Styling */
.post-metadata .post-date {
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #FFDE59;
    font-style: italic;
}

/* Horizontal Divider */
.metadata-divider {
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: #B4B4B4;
}

/* Content Section */
.content-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.post-content {
    flex: 3;
    max-width: 800px;
    text-align: left;
}

.toc-container {
    flex: 1;
    position: sticky;
    top: 20px;
    background: #FFF;
    padding: 20px;
    border: 1px solid #B4B4B4;
}

.toc-container h2 {
    margin: 0 0 10px;
    font-size: 1.2rem;
}

.toc-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.toc-container li {
    margin: 5px 0;
}

.toc-container a {
    text-decoration: none;
    color: #222;
    transition: all 0.3s;
}

.toc-container a:hover {
    background: #222;
    color: #FFDE59;
    padding: 2px 4px;
}

.toc-container a.active {
    background: #FFDE59;
    color: #222;
    font-weight: bold;
}
