/* Block Elements */
blockquote, .codehilite pre {
    margin: 20px 0;
    padding: 10px;
    background: #222;
    text-align: left;
    border-left: 5px solid #FFDE59;
}

/* Inline Code (code) Styling */
code {
    font-family: "Courier New", monospace;
    color: #FFDE59;
    padding: 2px 4px;
    font-size: 0.9rem;
    line-height: 1.4;
}

/* General Styling */
body {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.8;
    color: #FFDE59; /* Yellow Text */
}

/* Post Container */
.post-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Image Section */
.post-image-section {
    position: relative;
    height: 30vh;
    overflow: hidden;
}

.post-image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-overlay {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: #FFF4C5;
    background: linear-gradient(to bottom, transparent, #222);
    padding: 10px 20px;
    font-size: 2rem;
}

/* Metadata */
.post-metadata {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: #B4B4B4;
    font-size: 0.9rem;
}

/* Tag Styling */
.post-metadata .post-tags {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px 5px 0;
    background-color: #FFDE59;
    color: #222;
    border-radius: 12px;
    font-size: 0.9rem;
    font-weight: bold;
}

/* Date Styling */
.post-metadata .post-date {
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #FFDE59;
}

/* Horizontal Divider */
.metadata-divider {
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: #B4B4B4;
}

/* Content Area Styling */
.content-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Main Content */
.post-content {
    width: 75%;
    padding-right: 20px;
}

/* TOC Styling */
.toc-area {
    width: 20%;
    position: relative;
}

.toc-wrapper {
    width: 100%;
    position: absolute;
    background-color: #222;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: top 0.2s ease;
}

.toc-wrapper h3 {
    margin: 0;
    padding: 10px 15px;
    background-color: #222;
    color: #FFF4C5;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
}

.toc-list {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
}

.toc-list li {
    margin-bottom: 8px;
    padding: 0 10px;
    color: #B4B4B4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.toc-list li.active {
    color: #FFDE59;
    padding-left: 0;
}

.toc-list li:hover {
    color: #FFDE59;
    padding-left: 0;
}