<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B.Bee | {{ metadata.title }}</title>
    <link rel="stylesheet" href="/assets/css/code-highlighting.css">
    <link rel="stylesheet" href="/assets/css/post-style.css">
    <link rel="stylesheet" href="/assets/css/header-footer-style.css">
    <script src="/assets/js/toc.js"></script>
</head>
<body>
    {% include "./header.html" %}

    <div class="post-container">
        <!-- Image Section -->
        <section class="post-image-section">
            <img src="{{ metadata.main_image }}" alt="{{ metadata.title }}">
            <div class="image-overlay">
                <h1>{{ metadata.title }}</h1>
            </div>
        </section>

        <!-- Metadata -->
        <div class="post-metadata">
            <div class="tags">
                {% for tag in metadata.tags %}
                <span class="post-tags">{{ tag }}</span>
                {% endfor %}
            </div>
            <span class="post-date">작성일 | {{ metadata.date }}</span>
        </div>
        <div class="metadata-divider"></div>

        <!-- Content Section -->
        <div class="content-container">

            <!-- Main Content -->
            <div class="post-content">
                {{ content | safe }}
            </div>

            <!-- TOC -->
            <div class ="toc-area">
                <div class="toc-wrapper">
                    <h3>Table of Contents</h3>
                    <ul class="toc-list">
                        {% for header in toc_headers %}
                        <li data-target="{{ header.id }}" style="margin-left: {{ header.level * 10 }}px;">
                            {{ header.text }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include "./footer.html" %}
</body>
</html>
